# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache

# CodeKit.app config file
codekit-config.json

# Jekyll static site output
_site/
gh-pages/